
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button tab="product-list">
      <ion-icon name="cart"></ion-icon>
      Productos
    </ion-tab-button>

        <ion-tab-button tab="shopping-cart">
      <ion-icon name="person"></ion-icon>
      Carrito
      <ion-badge color="danger">47</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>

    <ion-tab-button tab="information">
      <ion-icon name="information-circle-outline"></ion-icon>
      Información
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>