<ion-content fullscreen> 
  <div class="header">
    <img src="assets/images/sushi.png" alt="fondo" class="header-bg" />
    <div class="overlay">
      <img src="assets/icon/logo.png" alt="logo" class="logo" />
      <h1>Bienvenido a Itsuki</h1>
      <h2>Auténtica experiencia japonesa en cada bocado</h2>
    </div>
  </div>
  
  <div class="info-cards">
    <div class="info-card">
      <ion-icon name="star-outline" class="card-icon1"></ion-icon>
      <div class="card-content">
        <span class="card-value">4.8★</span>
        <span class="card-label">Rating</span>
      </div>
    </div>
    
    <div class="info-card">
      <ion-icon name="time-outline" class="card-icon2"></ion-icon>
      <div class="card-content">
        <span class="card-value">30 min</span>
        <span class="card-label">Entrega</span>
      </div>
    </div>
    
    <div class="info-card">
      <ion-icon name="car-outline" class="card-icon3"></ion-icon>
      <div class="card-content">
        <span class="card-value">Gratis</span>
        <span class="card-label">Envío</span>
      </div>
    </div>
  </div>

  <div class="productos">
    <h1>Destacados del día</h1>

    <ion-list>
        <ion-item *ngFor="let p of productos">
          <ion-thumbnail slot="start">
            <img [src]="p.imagen" alt="Imagen de {{p.nombre}}" class="img">
          </ion-thumbnail>
          <ion-label>
            <h2>{{p.nombre}}</h2>
            <p class="text">{{p.descripcion}}</p>
            <p><strong>{{p.precio | currency:'COP'}}</strong></p>
            <ion-button (click)="agregarAlCarrito(p)">Agregar al carrito</ion-button>
          </ion-label>
        </ion-item>
    </ion-list>
  </div>

  <div class="section">
    <h3 class="section-title">Categorías</h3>
    <div class="categories-grid">
      
      <ion-card color="danger" class="category-card" (click)="irAProductos('sushi')">
        <ion-card-content>
          <div class="category-icon">🍣</div>
          <span class="category-name">Sushi</span>
        </ion-card-content>
      </ion-card>

      <ion-card color="dark" class="category-card" (click)="irAProductos('ramen')">
        <ion-card-content>
          <div class="category-icon">🍜</div>
          <span class="category-name">Ramen</span>
        </ion-card-content>
      </ion-card>

      <ion-card color="warning" class="category-card" (click)="irAProductos('bebida')">
        <ion-card-content>
          <div class="category-icon">🥤</div>
          <span class="category-name">Bebidas</span>
        </ion-card-content>
      </ion-card>

      <ion-card color="danger" class="category-card" (click)="irAProductos('postre')">
        <ion-card-content>
          <div class="category-icon">🍡</div>
          <span class="category-name">Postres</span>
        </ion-card-content>
      </ion-card>

    </div>
  </div>

</ion-content>
